
body {
	width: 770px;
	height: 1100px;
	border: 3px solid black;
}

#encabezado,
#pie {
	width: 770px;
	height: 37px;
	background-color: #0E1143
}

#contdch,
#contizq {
	height: 1026px;
	margin-top: 1px;
	display: inline-block;
	text-align: center;
	vertical-align: top;
}

#contdch {
	width: 240px;
	background-color: #F2EBD8;
}

#contizq {
	width: 530px;
	margin-left: -4px;
}

#contfoto {
	width: 230px;
	height: 180px;
	margin-top: 40px;
	display: inline-block;
}

#contdatos,
#contcontacto,
#contidiomas {
	margin-top: 20px;
	margin-left: 10px;
	margin-right: 10px;
	text-align: left;
}

#datosdch,
#datosizq {
	margin-left: 10px;
	display: inline-block;
}

#idiomas {
	margin-left: 10px;
}

.subtitulo {
	text-align: center;
	font-weight: bold;
	font-family: Cambria;
	color: black;
	font-size: 22px;
	line-height: 40px;
	border-bottom: 1px solid gray;
}

.texto {
	font-family: Arial;
	color: black;
	display: inline-block;
	margin-top: 3px;
}

#contnombre,
#contformacion,
#contexperiencia,
#conthabilidades {
	margin-top: 20px;
	margin-left: 11px;
	margin-right: 10px;
}

#nombre {
	text-align: center;
	font-weight: bold;
	font-family: Cambria;
	color: black;
	font-size: 30px;
	line-height: 60px;
	border-bottom: 1px solid gray;
}

#contdesc {
	margin-left: 21px;
	margin-right: 10px;
}

#contformacion,
#contexperiencia,
#conthabilidades,
#contdesc {
	text-align: left;
}

#titulos,
#ftitulos,
#experiencia,
#puesto,
#habilidades {
	display: inline-block;
	margin-left: 11px;
	vertical-align: top;
}

#titulos,
#experiencia {
	width: 400px;
}

.fecha {
	font-family: Arial;
	color: black;
	text-align: right;
	display: inline-block;
	margin-top: 3px;
	margin-left: 20px;
	margin-bottom: 28px;
}

.centro {
	font-family: Arial;
	color: black;
	font-size: 13px;
	display: inline-block;
	margin-top: 0px;
	margin-left: 13px;
}

#fotoperfil {
	width: 190px;
	height: 190px;
	border-radius: 49%;
	object-fit: cover;
	object-position: 50% 50%;
}

.iconos {
	width: 15px;
	height: 15px;
	margin-top: 3px;
	margin-left: 11px;
	margin-right: 5px;
	vertical-align: top;
}

